.anchor-pane {
  -fx-background-image: url(../images/login-background.jpg);
  -fx-background-size: 900 500;
  -fx-background-position: center center;
}

.login-button {
  -fx-font-family: Arial;

  -fx-background-color: #ffffff;
  -fx-border-color: black;
}

.login-button:hover {
  -fx-background-color: #add8e6;
}

.username-field {
  -fx-font-family: Arial;
  -fx-border-color: black;
}

.password-field {
  -fx-font-family: Arial;
  -fx-border-color: black;
}

.logo-label {
  -fx-font-family: Arial;
  -fx-font-size: 15;
}